allow untrusted_app init:dir { getattr search };
allow untrusted_app kernel:dir { getattr search };
allow untrusted_app storage_stub_file:dir getattr;
